<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list *shellNoRender>
      <a md-list-item>
        <md-icon md-list-icon>accessibility</md-icon>
        <span md-line>Change</span>
        <span md-line class="secondary">Based on payment amount</span>
      </a>
      <a md-list-item>
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Pay</span>
        <span md-line class="secondary">Based on change desired</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>      
    </button>
    Change calculator!!
  </md-toolbar>

  <app-i-will-pay></app-i-will-pay>
  <app-exact-amount></app-exact-amount>
</md-sidenav-layout>
