<div>
  <div class="input-group">
    <span class="input-group-addon">Price $</span>
    <input type="text" class="form-control" [(ngModel)]="payment.price" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon">.00</span>
  </div>
</div>
<div>
  <div class="input-group">
    <span class="input-group-addon">Bills</span>
    <input type="text" class="form-control" [(ngModel)]="desiredChange" aria-label="Amount (to the nearest dollar)">
  </div>
</div>
<p><span>You have to pay {{calculatePaymentAmount()}}</span></p>
