<div>
  <div class="input-group">
    <span class="input-group-addon">Price $</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon">.00</span>
  </div>
</div>
<div>
  <div class="input-group">
    <span class="input-group-addon">Bills</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  </div>
</div>
<div>
  <div class="input-group">
    <span class="input-group-addon">Coins</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  </div>
</div>
