<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Change</md-toolbar>
  <md-card-content>
    <md-input class="demo-full-width" placeholder="Price $" [(ngModel)]="payment.price">
      <span md-suffix>$</span>
    </md-input>
    <md-input class="demo-full-width" placeholder="Bills amount" [(ngModel)]="payment.bills">
      <span md-suffix>dollars</span>
    </md-input>
    <md-input class="demo-full-width" placeholder="Cents amount" [(ngModel)]="payment.coins">
      <span md-suffix>cents</span>
    </md-input>
    <p><span>You have paid <i> <strong>{{payment.Paid}}$</strong></i></span></p>
    <p><span>Your change <i> <strong>{{getChange()}}$</strong></i></span></p>

  </md-card-content>
</md-card>
